.customer-profile{
    padding: 0;
}
.customer-profile .profile-footer{
    background-color: white;
    margin: auto;
    padding-bottom: 15px ;
    padding-top: 10px;
    color: #2d353c;

}

.customer-profile .customer-title{
    font-size: 25px;
    font-weight: bold;
    color: #3F4B55;
}

.customer-profile .profile-header{
    color: #2d353c;
    padding-top: 30px;
    padding-bottom: 30px;
 }

.customer-profile .image{
    width: 50%;
    margin: 0 auto auto;
    text-align: center;
    vertical-align: middle;
}

.customer-profile .stats-number{
    font-size: 30px;
}

.stats-title{
    font-size: 14px;
    margin-bottom: 15px;
}

.customer-details{
    background: #f0f3f4;
}

